@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.background-img {
  width: 100vw;
}

.enter-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding: 20px;
  position: absolute;
  left: 40%;
  top: 70%;
  opacity: 70%;
}

.enter-button button {
  display: inline-block;
  position: relative;
  z-index: 999;
}

button:hover {
  text-decoration: none !important;
}

.caption {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
@media (max-width: 800px) {
  .background-img {
    width: 100vw;
  }

  .enter-button {
    left: 10%;
  }
  .enter-button button {
    display: none !important;
  }
  .caption {
    color: #ffffff;
    display: block;
    font-size: 40px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.enter-button p {
  padding-top: 10px;
}