@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.sectionOne img {
  width: 100vw;
  position: relative;
  z-index: 1;
}

.sectionOne button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 42%;
  top: 75%;
  opacity: 70%;
  z-index: 999;
  visibility: visible;
}

button:hover {
  text-decoration: none !important;
}

.sectionOne p {
  display: none;
  position: absolute;
  top: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  z-index: 998;
}
@media (max-width: 800px) {
  .sectionOne img {
    width: 100vw;
  }

  .sectionOne button {
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  .sectionOne p {
    top: 6%;
  }
}